<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_Full_Hexapod">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="9.6259709536084E-06 -6.03599555802636E-06 -0.0030214605278231"
        rpy="0 0 0" />
      <mass
        value="0.652718423695264" />
      <inertia
        ixx="0.00164228924294238"
        ixy="-1.28564474462014E-09"
        ixz="8.22610664375957E-10"
        iyy="0.00164233674483393"
        iyz="-1.98002919852351E-10"
        izz="0.00328367106870498" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.913725490196078 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="hip_link_1">
    <inertial>
      <origin
        xyz="0.0452404100795674 -0.00545991322773652 0.00128225279861081"
        rpy="0 0 0" />
      <mass
        value="0.111649772064324" />
      <inertia
        ixx="9.65057066443109E-05"
        ixy="8.90674242282626E-06"
        ixz="2.58507138960985E-06"
        iyy="0.000128432429872736"
        iyz="-2.26473362731978E-07"
        izz="0.00012501960768768" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.968627450980392 0.87843137254902 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_joint_1"
    type="revolute">
    <origin
      xyz="-1.2616E-05 -0.095255 0"
      rpy="0 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="hip_link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="knee_link_1">
    <inertial>
      <origin
        xyz="-0.0475302249354476 -0.0303949843623502 -0.00382639103091394"
        rpy="0 0 0" />
      <mass
        value="0.155431239013057" />
      <inertia
        ixx="0.000125689460160167"
        ixy="-8.60189768522736E-05"
        ixz="-1.49872305256315E-06"
        iyy="0.000137645360683419"
        iyz="-1.51278826167929E-06"
        izz="0.000224456017656395" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/knee_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/knee_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee_joint_1"
    type="revolute">
    <origin
      xyz="0.078424 -0.0031746 0.0010006"
      rpy="1.5708 1.5708 0" />
    <parent
      link="hip_link_1" />
    <child
      link="knee_link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="ankle_link_1">
    <inertial>
      <origin
        xyz="0.0767237006476303 -0.013659210334669 -0.00149577098480455"
        rpy="0 0 0" />
      <mass
        value="0.31955999801834" />
      <inertia
        ixx="0.000120289050869526"
        ixy="1.98010146951448E-05"
        ixz="-2.69503214059816E-06"
        iyy="0.000196681888150522"
        iyz="1.37145509688599E-06"
        izz="0.000177107331195337" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/ankle_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/ankle_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ankle_joint_1"
    type="revolute">
    <origin
      xyz="-0.087752 -0.081834 0"
      rpy="0 0 0" />
    <parent
      link="knee_link_1" />
    <child
      link="ankle_link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="foot_pointer_1">
    <inertial>
      <origin
        xyz="-0.0049782363018493 0.000584199635433796 1.01521888723546E-05"
        rpy="0 0 0" />
      <mass
        value="0.00634138756461707" />
      <inertia
        ixx="3.1794072605368E-07"
        ixy="1.15940615410597E-08"
        ixz="2.00382787922864E-10"
        iyy="4.0938199625732E-07"
        iyz="-5.71299980008936E-11"
        izz="4.12726877457262E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/foot_pointer_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/foot_pointer_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="foot_pointer_joint_1"
    type="fixed">
    <origin
      xyz="0.18098 -0.022156 0"
      rpy="0 0 0" />
    <parent
      link="ankle_link_1" />
    <child
      link="foot_pointer_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="end_effector_1">
    <inertial>
      <origin
        xyz="-0.0122067463278634 0.00152370640892938 6.47355637194841E-06"
        rpy="0 0 0" />
      <mass
        value="0.00616673794613409" />
      <inertia
        ixx="3.11902997781583E-07"
        ixy="1.22998576021055E-08"
        ixz="2.12679032607798E-10"
        iyy="4.0890866624375E-07"
        iyz="4.13472457938764E-11"
        izz="4.06602736445781E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/end_effector_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/end_effector_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="end_effector_joint_1"
    type="fixed">
    <origin
      xyz="0.0075528 -0.00094278 0"
      rpy="0 0 0" />
    <parent
      link="foot_pointer_1" />
    <child
      link="end_effector_1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="hip_link_2">
    <inertial>
      <origin
        xyz="0.0488185085747303 -0.00410063867439833 0.00163326248081042"
        rpy="0 0 0" />
      <mass
        value="0.0882011859976947" />
      <inertia
        ixx="9.38773089300775E-05"
        ixy="8.87632856357308E-06"
        ixz="2.7266876743089E-06"
        iyy="0.000124049448056631"
        iyz="-2.29027568962667E-07"
        izz="0.00012170057198104" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.968627450980392 0.87843137254902 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_joint_2"
    type="revolute">
    <origin
      xyz="0.082487 -0.047638 0"
      rpy="0 0 -0.5236" />
    <parent
      link="base_link" />
    <child
      link="hip_link_2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_link_3">
    <inertial>
      <origin
        xyz="0.0488185085747302 -0.00410063867439835 0.00163326248081048"
        rpy="0 0 0" />
      <mass
        value="0.0882011859976946" />
      <inertia
        ixx="9.38773089300774E-05"
        ixy="8.87632856357307E-06"
        ixz="2.72668767430882E-06"
        iyy="0.000124049448056631"
        iyz="-2.29027568962642E-07"
        izz="0.00012170057198104" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.968627450980392 0.87843137254902 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_joint_3"
    type="revolute">
    <origin
      xyz="0.082499 0.047616 0"
      rpy="0 0 0.5236" />
    <parent
      link="base_link" />
    <child
      link="hip_link_3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_link_4">
    <inertial>
      <origin
        xyz="0.0488185085747302 -0.00410063867439914 0.00163326248080942"
        rpy="0 0 0" />
      <mass
        value="0.0882011859976947" />
      <inertia
        ixx="9.38773089300778E-05"
        ixy="8.87632856357352E-06"
        ixz="2.72668767430888E-06"
        iyy="0.000124049448056631"
        iyz="-2.29027568962729E-07"
        izz="0.00012170057198104" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.968627450980392 0.87843137254902 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_joint_4"
    type="revolute">
    <origin
      xyz="1.2616E-05 0.095255 0"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="hip_link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_link_5">
    <inertial>
      <origin
        xyz="0.0488185085747302 -0.00410063867439901 0.00163326248081043"
        rpy="0 0 0" />
      <mass
        value="0.0882011859976947" />
      <inertia
        ixx="9.38773089300778E-05"
        ixy="8.8763285635734E-06"
        ixz="2.72668767430887E-06"
        iyy="0.000124049448056631"
        iyz="-2.290275689627E-07"
        izz="0.00012170057198104" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.968627450980392 0.87843137254902 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_joint_5"
    type="revolute">
    <origin
      xyz="-0.082487 0.047638 0"
      rpy="0 0 2.618" />
    <parent
      link="base_link" />
    <child
      link="hip_link_5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hip_link_6">
    <inertial>
      <origin
        xyz="0.0488185085747303 -0.0041006386743991 0.00163326248081034"
        rpy="0 0 0" />
      <mass
        value="0.0882011859976949" />
      <inertia
        ixx="9.38773089300778E-05"
        ixy="8.87632856357345E-06"
        ixz="2.72668767430886E-06"
        iyy="0.000124049448056631"
        iyz="-2.29027568962699E-07"
        izz="0.00012170057198104" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.968627450980392 0.87843137254902 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Full_Hexapod/meshes/hip_link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="hip_joint_6"
    type="revolute">
    <origin
      xyz="-0.082499 -0.047616 0"
      rpy="0 0 -2.618" />
    <parent
      link="base_link" />
    <child
      link="hip_link_6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>